@model Project_Envision.Models.GetSprintProperties
<head>
    <link rel="stylesheet" href="~/css/_MainPageLayout.css" />
    <script src="~/js/site.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/1e6384ea85.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">


    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill/dist/dx-quill.min.js"></script> *@

    @* Uncomment to use the Gantt control *@
    @*<link href="~/css/devextreme/dx-gantt.css" rel="stylesheet" />*@

    @* Uncomment to use the Diagram control *@
    @*<link href="~/css/devextreme/dx-diagram.css" rel="stylesheet" />*@

    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    @* Uncomment to use the Gantt control *@
    @*<script src="~/js/devextreme/dx-gantt.js"></script>*@

    @* Uncomment to use the Diagram control *@
    @*<script src="~/js/devextreme/dx-diagram.js"></script>*@

    <script src="~/js/devextreme/jquery.js"></script>

    @* Uncomment to use Globalize for localization *@
    @*<script src="~/js/devextreme/cldr.js"></script>*@
    @*<script src="~/js/devextreme/cldr/event.js"></script>*@
    @*<script src="~/js/devextreme/cldr/supplemental.js"></script>*@
    @*<script src="~/js/devextreme/cldr/unresolved.js"></script>*@
    @*<script src="~/js/devextreme/globalize.js"></script>*@
    @*<script src="~/js/devextreme/globalize/message.js"></script>*@
    @*<script src="~/js/devextreme/globalize/number.js"></script>*@
    @*<script src="~/js/devextreme/globalize/currency.js"></script>*@
    @*<script src="~/js/devextreme/globalize/date.js"></script>*@

    @* Uncomment to enable client-side export *@
    @*<script src="~/js/devextreme/jszip.js"></script>*@

    <script src="~/js/devextreme/dx.all.js"></script>

    @* Uncomment to provide geo-data for the VectorMap control *@
    @*<script src="~/js/devextreme/vectormap-data/world.js"></script>*@

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
</head>


<style>

    body{
        background-image: url(../images/@BoardSettingsItems.m_BoardBackground);
    }
    h1,p{
                color: @BoardSettingsItems.m_TextColor;
    }

</style>

<body>

    <div class="translation" id="google_translate_element"></div>

    <nav class="main-menu">
        <div class="logo"></div>
        <ul>
            <li style="margin-bottom: 3%;">
                <a href="@Url.Action("Board", "Board")">
                    <i class="fas fa-clipboard"></i>
                    <span class="nav-text">Board</span>
                </a>
            </li>
            <li style="margin-bottom: 3%;">
                <a href="@Url.Action("ProductBacklog", "Board")">
                    <i class="fas fa-list-ul"></i>
                    <span class="nav-text">Product Backlog</span>
                </a>
            </li>
            <li style="margin-bottom: 3%;">

                <a href="@Url.Action("BurndownMenu", "Burndown")">
                    <i class="fas fa-chart-line"></i>
                    <span class="nav-text">Burndown Chart</span>
                </a>
            </li>
            <li style="margin-bottom: 3%;">
                <a href="@Url.Action("Sprint", "Sprint")">
                    <i class="fas fa-sync"></i>
                    <span class="nav-text">Sprint</span>
                </a>
            </li>
            <li style="margin-bottom: 3%;">
                <a href="@Url.Action("Teammates", "GroupMember")">
                    <i class="fas fa-users"></i>
                    <span class="nav-text">Teammates</span>
                </a>
            </li>
            <li style="margin-bottom: 3%;">
                <a href="@Url.Action("UserSettings", "Settings")">
                    <i class="fas fa-user-cog"></i>
                    <span class="nav-text">User Settings</span>
                </a>
            </li>
            <li style="margin-bottom: 3%;">
                <a href="@Url.Action("index", "BoardSettings")">
                    <i class="fas fa-cog"></i>
                    <span class="nav-text">Board Settings</span>
                </a>
            </li>
            <li style="margin-bottom: 3%;">
                <a href="@Url.Action("ChooseBoard", "Board")">
                    <i class="fas fa-arrow-circle-left"></i>
                    <span class="nav-text">Back to Boards</span>
                </a>
            </li>
            <li style="margin-bottom: 3%;">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </nav>
    @RenderBody()
</body>

<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
    }
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>