@model Project_Envision.Models.TaskPropertiesModel
@{ ViewData["Title"] = "CreateTask";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml"; }

<link rel="stylesheet" href="~/css/Task.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/Inputs.css" />

<div class="box" method="post">
    <div class="taskContainer">
        <form>
            <img src="~/images/logo2.png" />

            <div class="secondaryInput">
                <label id="TaskNameLabel" asp-for="task_Name">Task Name:</label>
                <input type="text" name="task_Name" asp-for="task_Name" autocomplete="off" placeholder="Task Name" required="" maxlength="20" />
            </div>

            <br />

            <div class="secondaryInput">
                <label for="task_Description" asp-for="task_Description">Description:</label>
                <textarea cols="25" rows="4" placeholder="Task Description" id="description" asp-for="task_Description" maxlength="100"></textarea>
            </div>

            <br />
            <br />

            <div class="secondaryInput">
                <label id="TaskPointsLabel" asp-for="task_Points">Task Points:</label>
                <input type="number" min="1" max="21" name="task_Points" asp-for="task_Points" placeholder="Task Points" required="" />
            </div>

            <br />

            <div class="secondaryInput">
                <div class="selectionStyle">
                    <label for="Assignee" asp-for="assignee">Choose an assignee:</label>

                    <select name="assignee" id="Assignee" asp-for="assignee">
                        @{
                            <option value="None"> None</option>
                            <option value="@boardModel.m_CreatorUsername"> @boardModel.m_CreatorUsername</option>

                            for (int i = 0; i < boardModel.m_UsernameList.Count(); i++)
                            {
                                if (boardModel.m_UsernameList[i] != null)
                                {

                                    <option value=@boardModel.m_UsernameList[i]> @boardModel.m_UsernameList[i]</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div>
                </div>
            </div>
            <br />
            <div class="buttons">
                <input type="submit" class="buttonStyle editCreateButton" value="Create Task" />
                <input type="button" class="buttonStyle cancelButton" value="Cancel" onclick="location.href='@Url.Action("ProductBacklog", "Board")'" />
            </div>
        </form>
    </div>
</div>
    


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}