@model Project_Envision.Models.TaskPropertiesModel
@{
    ViewData["Title"] = "EditTask";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml"; }
}
<link rel="stylesheet" href="~/css/Task.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/Inputs.css" />

<div class="box" method="post">
    <div class="taskContainer">
        <form>
            <img src="~/images/logo2.png" />

            <div class="secondaryInput">
                <label id="TaskNameLabel" asp-for="task_Name">Task Name:</label>
                <input type="text" name="task_Name" asp-for="task_Name" value=@TaskPropertiesModel.getTask_Name autocomplete="off" required="" />
            </div>

            <br />

            <div class="secondaryInput">
                <label for="task_Description" asp-for="task_Description">Description:</label>
                <textarea id="task_Description" name="task_Description" rows="4" cols="25">@TaskPropertiesModel.getTask_Description</textarea>
            </div>

            <br />
            <br />

            <div class="secondaryInput">
                <label id="TaskPointsLabel" asp-for="task_Points">Task Points:</label>
                <input type="number" min="0" max="100" name="task_Points" asp-for="task_Points" value=@TaskPropertiesModel.getTask_Points required="" />
            </div>

            <br />

            <div class="secondaryInput">
                <label for="Assignee" asp-for="assignee">Choose a assignee:</label>
                <div class="selectionStyle">
                    <select name="Assignee" id="Assignee" asp-for="assignee">

                    @{
                        <option value=@TaskPropertiesModel.getAssignee> @TaskPropertiesModel.getAssignee </option>

                        if(TaskPropertiesModel.getAssignee != "None")
                        { 
                        <option value="None"> None</option>
                        }

                        if (TaskPropertiesModel.getAssignee != boardModel.m_CreatorUsername)
                        {
                            <option value=@boardModel.m_CreatorUsername> @boardModel.m_CreatorUsername</option>
                        }

                        for (int i = 0; i < boardModel.m_UsernameList.Count(); i++)
                        {
                            if (boardModel.m_UsernameList[i] != TaskPropertiesModel.getAssignee && boardModel.m_UsernameList[i] != null)
                            {

                                    <option value=@boardModel.m_UsernameList[i]> @boardModel.m_UsernameList[i]</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="buttons">
                <input type="submit" class="buttonStyle editCreateButton" value="Edit Task" />
                <input type="button" class="buttonStyle cancelButton" value="Cancel" onclick="location.href='@Url.Action("Board", "Board")'" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}