@{
    ViewData["Title"] = "Choose Board";
}

<link rel="stylesheet" href="~/css/ChooseBoard.css" />
<script src="https://kit.fontawesome.com/1e6384ea85.js" crossorigin="anonymous"></script>

<div class="box">
    <div class="headerArea">
        <div class="createButton">
            @{
                if (ChooseBoardModel.m_Boardlist.Count < 5)
                {
                    <button class="button homeButtons" onclick="location.href='@Url.Action("CreateBoard", "board")'">Create Board</button>
                }
                else
                {
                    <button class="button disabledButton" onclick="location.href='@Url.Action("CreateBoard", "Board")'" disabled>Create Board </button>
                }
            }
        </div>

        <img class="logo imageContainer" src="~/images/logo2.png" />

        <div class="logoutButton">
            <button class="button homeButtons logoutButton" onclick="location.href='@Url.Action("Index","Home")'">Logout</button>
        </div>
    </div>
    <div class="tableContainer">
        <table style="color: white;">
            <tr>
                <th> </th>
                <th>Board Name</th>
                <th>Board Description</th>
                <th> </th>
            </tr>
            @{
                for (int i = 0; i < ChooseBoardModel.m_Boardlist.Count; i++)
                {
                    <tr>
                        <td>
                            <a class="goButton" value=@ChooseBoardModel.m_Boardlist[i] onclick="location.href='@Url.Action("GetTask", "Task", new {boardid = ChooseBoardModel.m_Boardidlist[i]})'">
                                <i class="fas fa-arrow-circle-right fa-3x"></i>
                            </a>
                        </td>
                        <td>@ChooseBoardModel.m_Boardlist[i]</td>

                        <td> @ChooseBoardModel.m_BoardDesclist[i]</td>

                        <td>
                            <a value=@ChooseBoardModel.m_Boardlist[i] onclick="location.href='@Url.Action("DeleteBoard", "Board", new {boardid = ChooseBoardModel.m_Boardidlist[i]})'">
                                <i class="fas fa-trash fa-3x"></i>
                            </a>
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>