@{
    ViewData["Title"] = "ProductBacklog";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link rel="stylesheet" href="~/css/ProductBacklog.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />

<div class="box">
    <button class="buttonStyle createTaskButton" onclick="location.href='@Url.Action("CreateTask", "Task")'">Create Task</button>

    <table style="color: white;">
        <tr>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Assigned To</th>
            <th>Story Points</th>
            <th>Edit Task</th>
            <th>Delete Task</th>
        </tr>

        @{ for (int i = 0; i < boardModel.m_TaskIdList.Count(); i++)
            {
                <tr>

                    <td>@boardModel.m_TaskList[i]</td>
                    <td>@boardModel.m_TaskDescriptList[i]</td>
                    <td>@boardModel.m_AssigneeList[i]</td>
                    <td>@boardModel.m_TaskPointsList[i]</td>
                    <td>
                        <a onclick="location.href='@Url.Action("collect_task_info", "Task", new { Taskid = @boardModel.m_TaskIdList[i] })'">
                            <i class="fas fa-pen fa-2x"></i>
                        </a>
                    </td>
                    <td>
                        <a onclick="location.href='@Url.Action("Deletetask", "Task", new { Taskid = @boardModel.m_TaskIdList[i] })'">
                            <i class="fas fa-trash fa-2x"></i>
                        </a>
                    </td>
                </tr>
            }
        }

    </table>
</div>