@{
    ViewData["Title"] = "ProductBacklog";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link rel="stylesheet" href="~/css/ProductBacklog.css" />

<div class="box">
    <button class="button homeButtons" onclick="location.href='@Url.Action("CreateTask", "Task")'">Create Task</button>

    <table style="color: white;">
        <tr>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Assigned To</th>
            <th>Story Points</th>
            <th>Edit Task</th>
            <th>Delete Task</th>
        </tr>

        @{ for (int i = 0; i < BoardModel.m_TaskIdlist.Count(); i++)
            {
                <tr>

                    <td>@BoardModel.m_Tasklist[i]</td>
                    <td>@BoardModel.m_Taskdescriptlist[i]</td>
                    <td>@BoardModel.m_Assigneelist[i]</td>
                    <td>@BoardModel.m_TaskPointslist[i]</td>
                    <td><button onclick="location.href='@Url.Action("collect_task_info", "Task", new { Taskid = @BoardModel.m_TaskIdlist[i] })'">🖋️</button></td>
                    <td><button onclick="location.href='@Url.Action("Deletetask", "Task", new { Taskid = @BoardModel.m_TaskIdlist[i] })'">❌</button></td>
                </tr>
            }
        }

    </table>
</div>